{% extends 'base.html.twig' %}

{% block title %}Modifier une pièce{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Modifier une pièce</h1>
        <hr/>
        <div class="container form-edit-piece">
            {{ form_start(form_edit_piece) }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_row(form_edit_piece.reference) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    {{ form_row(form_edit_piece.libelle) }}
                </div>
                <div class="form-group col-md-1 ml-2">
                    {{ form_row(form_edit_piece.quantity) }}
                </div>
                <div class="form-group col-md-3">
                    {{ form_row(form_edit_piece.type) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 form_piece_provider" hidden>
                    {{ form_row(form_edit_piece.provider) }}
                </div>
                <div class="form-group col-md-2 form_piece_price_catalog" hidden>
                    {{ form_row(form_edit_piece.priceCatalogue) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2 form_piece_price" hidden>
                    {{ form_row(form_edit_piece.price) }}
                </div>
            </div>
            <div class="form-group col-md-4 form-pieces-children" hidden>
                <button type="button" id="add_pieces_used" class="btn btn-outline-success"><span class="form-row"><i class="material-icons" >add</i>Pièces utilisées</span></button>
                <div id="pieces_useds_collection" style="width:max-content;"
                     data-prototype="{{ include("piece/_piece_used_form.html.twig", {form: form_edit_piece.pieceUseds.vars.prototype})| e('html_attr') }}"
                     data-index="{{ form_edit_piece.pieceUseds|length > 0 ? form_edit_piece.pieceUseds|last.vars.name +1 : 0}}"
                >
                    {% for pieceUsed in form_edit_piece.pieceUseds %}
                        {{ include("piece/_piece_used_form.html.twig", {form: pieceUsed}) }}
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <button class="btn btn-outline-warning" type="submit" style="margin-left:5px;margin-top:30px;">{{ button|default('Modifier')}}</button>
            </div>
            {{ form_row(form_edit_piece._token) }}
            {{ form_end(form_edit_piece, {'render_rest': false}) }}
        </div>
    </div>

{% endblock %}