<div class="modal fade" id="showCompositionPieceModal{{ piece.id }}" data-whatever="{{ piece.id }}" tabindex="-1" role="dialog"  aria-labelledby="showCompositionPieceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100" id="showCompositionPieceModalLabel">Composition de la pièce : {{ piece.libelle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <p class="text-muted mt-1">Nombre de pièces composantes: {{  piece.piecesChildren|length }}</p>
                <div class="modal-body">
                    {% for pieceChildren in piece.piecesChildren %}
                        <div class="card">
                            <div class="card-header">
                                {{ pieceChildren.libelle }}
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>Quantité : {{ pieceChildren.quantity }}</p>
                                    <p>Prix d'achat : {{ pieceChildren.priceCatalogue ? pieceChildren.priceCatalogue : 'Pas de prix d\'achat' }} €</p>
                                    <footer class="blockquote-footer">{{ pieceChildren.type }}</footer>
                                </blockquote>
                            </div>
                        </div>
                        <br>
                    {% else %}
                       <p>Cette pièce n'a aucune composition.</p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
        </div>
    </div>
</div>