{% extends 'base.html.twig' %}

{% block title %}Postes de travail{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center mb-5">
                <h1 class="heading-section"><i class="material-icons" >keyboard</i><span style="margin-left:10px;">Postes de travail</span></h1>
            </div>
        </div>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                {% if type == 'success_workstation_delete' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if type == 'success_workstation_add' %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if type == 'success_workstation_edit' %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <hr class="border-dark"/>
        <br>
        <a type="button" data-url="{{ path('workstation.add') }}" class="btn mb-3 btn-outline-primary" data-toggle="modal" data-target="#modalGeneric">
                <span class="form-row">
                    <i class="material-icons" >add</i>Postes de travail
                </span>
        </a>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="text-center">
                        <tr>
                            <th></th>
                            <th>Libellé</th>
                            <th>Utilisateur(s)</th>
                            <th>Machines</th>
                            <th colspan="2">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        {% for workstation in workstations %}
                            <tr>
                                <th scope="row">{{ workstation.id }}</th>
                                <td>{{ workstation.libelle }}</td>
                                <td>
                                    <a type="button" data-url="{{ path('workstation.users', {id : workstation.id}) }}" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modalGeneric">
                                        <i class="material-icons" >
                                            <span class="material-icons-outlined">
                                                supervisor_account
                                            </span>
                                        </i>
                                    </a>
                                </td>
                                <td>
                                    <a type="button" data-url="{{ path('workstation.machines', {id : workstation.id}) }}" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modalGeneric"><i class="material-icons" >personal_video</i></a>
                                </td>
                                <td>
                                    <a data-url="{{ path('workstation.edit', {'id': workstation.id}) }}" type="button" class="btn btn-sm mb-3 btn-outline-primary" data-toggle="modal" data-target="#modalGeneric"><i class="material-icons" >edit</i></a>
                                </td>
                                <td>
                                    {% include('work_station/_delete_form.html.twig') %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
