{% extends 'base.html.twig' %}

{% block title %}Tableau de bord atelier{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-5">Tableau de bord - {% if is_granted('ROLE_COMMERCIAL') %} Commandes {% else %}Atelier {% endif %} <i class="material-icons" >store</i></h1>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                {% if type == 'success_range_delete' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if type == 'success_range_add' %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if type == 'success_range_edit' %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if type == 'success_range_realisation_edit' %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if type == 'success_range_realisation_delete' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if type == 'success_range_realisation_new' %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if type == 'success_orderpuchase_add' %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <hr class="border-dark"/>
        <br>
        {% if is_granted("ROLE_OUVRIER")  %}
        <div class="accordion" id="accordionExample">
            <div class="card">
                <a class="btn btn-primary rounded-0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="card-header bg-danger" id="headingOne">
                        <h2 class="mb-0">
                                Gammes
                        </h2>
                    </div>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <a type="button" data-url="{{ path('home.range.add') }}" class="btn mb-3 btn-outline-primary" data-toggle="modal" data-target="#modalGeneric">
                            <span class="form-row">
                                <i class="material-icons" >add</i>Gammes
                            </span>
                        </a>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover rounded mw-100">
                                <thead class="text-center">
                                <tr>
                                    <th></th>
                                    <th>Libellé</th>
                                    <th>Opérations</th>
                                    <th>Responsable</th>
                                    <th>Pièce fabriquée</th>
                                    <th colspan="2">Actions</th>
                                    <th>Réalisation</th>
                                </tr>
                                </thead>
                                <tbody class="text-center">
                                {% for range in ranges %}
                                    <tr>
                                        <td>{{ range.id }}</td>
                                        <td>{{ range.libelle }}</td>
                                        <td>
                                            <a type="button" data-url="{{ path('range.operations.show', {id : range.id}) }}" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modalGeneric"><i class="material-icons" >visibility</i></a>
                                        </td>
                                        <td>
                                            {{ range.userWorkstation }}
                                        </td>
                                        <td>
                                            {% if range.piece == null  %}
                                                Non rattachée
                                            {% else %}
                                                {{ range.piece }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a data-url="{{ path('home.range.edit', {'id': range.id}) }}" type="button" class="btn btn-sm mb-3 btn-outline-primary" data-toggle="modal" data-target="#modalGeneric"><i class="material-icons" >edit</i></a>
                                        </td>
                                        <td>
                                            {% include('home/_delete_form.html.twig') %}
                                        </td>
                                        <td>
                                            <a href="{{ path('range.realisation.add', {'id': range.id}) }}" type="button" class="btn btn-sm mb-3 btn-outline-success">Réaliser</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <a class="btn btn-primary collapsed rounded-0" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="card-header bg-danger" id="headingTwo">
                        <h2 class="mb-0">
                                Réalisations de gamme
                        </h2>
                    </div>
                </a>
                <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover rounded mw-100">
                                <thead class="text-center">
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Responsable</th>
                                    <th>Réalisations</th>
                                    <th colspan="2">Actions</th>
                                </tr>
                                </thead>
                                <tbody class="text-center">
                                {% for rangeRealisation in rangeRealisations %}
                                    <tr>
                                        <td>{{ rangeRealisation.id }}</td>
                                        <td>{{ rangeRealisation.date | date('d/m/Y H:i') }}</td>
                                        <td>{{ rangeRealisation.userWorkStation }}</td>
                                        <td>
                                            <a href="{{ path('range.realisations.index', {id: rangeRealisation.id}) }}" class="btn btn-sm btn-outline-primary"><i class="material-icons" >visibility</i></a>
                                        </td>
                                        <td>
                                            <a data-url="{{ path('range.realisation.edit', {id: rangeRealisation.id}) }}" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modalGeneric"><i class="material-icons" >edit</i></a>
                                        </td>
                                        <td>
                                            {% include('range_realisation/_delete_form.html.twig') %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr><td colspan="6">Aucunes réalisations de gammes.</td></tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if is_granted('ROLE_COMMERCIAL') %}
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <a class="btn btn-primary rounded-0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="card-header bg-success" id="headingOne">
                            <h2 class="mb-0">
                                Commandes d'achats
                            </h2>
                        </div>
                    </a>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <a href="{{ path('orderpurchase.add') }}" class="btn btn-sm btn-outline-primary m-3"><div class="form-row"><i class="material-icons" >add</i>Commande d'achat</div></a>
                        <label>
                            Mois :
                            <select class="form-control form-control-sm" id="select_month">
                                <option value="1">Janvier</option>
                                <option value="2">Février</option>
                                <option value="3">Mars</option>
                                <option value="4">Avril</option>
                                <option value="5">Mai</option>
                                <option value="6">Juin</option>
                                <option value="7">Juillet</option>
                                <option value="8">Août</option>
                                <option value="9">Septembre</option>
                                <option value="10">Octobre</option>
                                <option value="11">Novembre</option>
                                <option value="12">Décembre</option>
                            </select>
                        </label>
                        <div class="example-wrapper">
                            <h2><a href="{{ path('export') }}"  class="btn btn-sm btn-outline-primary m-3">Export -></a></h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover rounded mw-100">
                                    <thead class="text-center">
                                    <tr>
                                        <th></th>
                                        <th>Libellé</th>
                                        <th>Fournisseur</th>
                                        <th>Date prévue</th>
                                        <th>Date réelle</th>
                                        <th>Voir</th>
                                        <th colspan="2">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    {% for orderPurchase in orderPurchases %}
                                        <tr>
                                            <th>{{ orderPurchase.id }}</th>
                                            <th scope="row">{{ orderPurchase.libelle }}</th>
                                            <td >{{ orderPurchase.provider.libelle }}</td>
                                            <td>{{ orderPurchase.dateDeliveryPredicted|date('d/m/y H:i:s') }}</td>
                                            <td>{{ orderPurchase.dateDeliveryReal ? orderPurchase.dateDeliveryReal|date('d/m/y H:i:s') : "Non Livrée"}}</td>
                                            <td>
                                                <a href="{{ path('orderpurchase.show', {'id': orderPurchase.id}) }}" type="button" class="btn btn-sm mb-3 btn-outline-primary"><i class="material-icons" >visibility</i></a>
                                            </td>
                                            <td>
                                                {% if orderPurchase.dateDeliveryReal != null %}
                                                    <i class="material-icons" >not_interested</i>
                                                {% else %}
                                                    <a href="{{ path('orderpurchase.edit', {'id': orderPurchase.id}) }}" type="button" class="btn btn-sm mb-3 btn-outline-primary"><i class="material-icons" >edit</i></a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if orderPurchase.dateDeliveryReal != null %}
                                                    <i class="material-icons" >not_interested</i>
                                                {% else %}
                                                    {% include('order_purchase/_delete_form.html.twig') %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

