{% extends 'base.html.twig' %}

{% block title %}Commandes d'achat{% endblock %}

{% block body %}
    <div class="mt-5 p-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section"><i class="material-icons" >pending_actions</i>Commandes d'achat</h2>
            </div>
        </div>
        <hr class="border-dark"/>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="text-center">
                        <tr>
                            <th></th>
                            <th>Libellé</th>
                            <th>Fournisseur</th>
                            <th>Date prévue</th>
                            <th>Date réelle</th>
                        </tr>
                        </thead>
                        <tbody class="text-center" id="table_body_pieces">
                        {% for orderPurchase in orderPurchases %}
                            <tr>
                                <th>{{ orderPurchase.id }}</th>
                                <th scope="row">{{ orderPurchase.libelle }}</th>
                                <td >{{ orderPurchase.provider.libelle }}</td>
                                <td>{{ orderPurchase.dateDeliveryPredicted|date('d/m/y H:i:s') }}</td>
                                <td>{{ orderPurchase.dateDeliveryReal ? orderPurchase.dateDeliveryReal|date('d/m/y H:i:s') : "Non Livrée"}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
