{{ form_start(form) }}
    <div class="form-row">
        <div class="form-group col-4">
            {{ form_row(form.username) }}
        </div>
        <div class="form-group col-4" >
            {{ form_row(form.email) }}
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-4">
            {{ form_row(form.plainPassword) }}
        </div>
        <div class="form-group col-4">
            {{ form_row(form.roles) }}
        </div>
    </div>
    <div class="form-row">
        {% if form.vars.value.id == null %}
            <button  class="btn btn-outline-success" type="submit" style="margin-left:5px;margin-top:30px;">{{ button|default('Ajouter')}}</button>
        {% else %}
            <button  class="btn btn-outline-warning" type="submit" style="margin-left:5px;margin-top:30px;">{{ button|default('Modifier')}}</button>
        {% endif %}
    </div>
{{ form_end(form) }}