{% set route_name = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Gestion de pièces{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% if app.user %}
        <nav {% if is_granted("ROLE_OUVRIER")  %} class="p-3 navbar navbar-expand-lg navbar-light bg-danger" {% elseif is_granted("ROLE_COMMERCIAL") %} class="p-3 navbar navbar-expand-lg navbar-light bg-success" {% else %} class="p-3 navbar navbar-expand-lg navbar-light bg-primary" {% endif %}>
            <a class="navbar-brand text-white text-uppercase" href="{{ path('home') }}">Gestion de pieces</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if is_granted("ROLE_OUVRIER") %}
                        <li {% if route_name matches '{^home}' or route_name matches '{^range}' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                            <a class="nav-link text-white" href="{{ path('home') }}">Atelier</a>
                        </li>
                        <li {% if route_name matches '{^operation}'%} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                            <a class="nav-link text-white" href="{{ path('operations.index') }}">Opérations</a>
                        </li>
                        <li {% if route_name matches '{^pieces}' or route_name matches '{^piece}' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                            <a class="nav-link text-white" href="{{ path('pieces.index') }}">Pièces</a>
                        </li>
                        <li {% if route_name matches '{^work}'%} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                            <a class="nav-link text-white" href="{{ path('workstation.index') }}">Postes de travail</a>
                        </li>
                        <li {% if route_name matches '{^machine}'%} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                            <a class="nav-link text-white" href="{{ path('machine.index') }}">Machines</a>
                        </li>
                    {% endif %}
                    {% if is_granted("ROLE_COMMERCIAL") %}
                        <li {% if route_name matches '{^home}'%} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                            <a class="nav-link text-white" href="{{ path('home') }}">Commandes d'achat</a>
                        </li>
                        <li {% if route_name matches '{estimate}'%} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                            <a class="nav-link text-white" href="{{ path('estimate.index') }}">Devis</a>
                        </li>
                        <li {% if route_name matches '{provider}'%} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                            <a class="nav-link text-white" href="{{ path('provider.index') }}">Fournisseurs</a>
                        </li>
                        <li {% if route_name matches '{customer}'%} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                            <a class="nav-link text-white" href="{{ path('customer.index') }}">Clients</a>
                        </li>
                        <li {% if route_name matches '{^orders}'%} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                            <a class="nav-link text-white" href="{{ path('ordersale.index') }}">Commandes de vente</a>
                        </li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li {% if route_name matches '{^utilisateur}' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                            <a class="nav-link text-white" href="{{ path('users.index') }}">Utilisateurs</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <a href="{{ path('app_logout') }}" {% if is_granted("ROLE_ADMIN") %} class="btn btn-sm btn-outline-danger text-white" {% else %} class="btn btn-sm btn-outline-primary text-white" {% endif %}role="button">Se déconnecter</a>
            </form>
        </nav>
        <div class="modal fade" id="modalGeneric" tabindex="-1" role="dialog" aria-labelledby="modalGenericLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                <div class="modal-content" id="modal-generic-content">
                    <div class="container p-5 text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% block body %}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
   <script>

   </script>
    </body>
</html>
