{% extends 'base.html.twig' %}
{% block title %}Devis n °{{ estimate.id }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-7 text-center">
            <a href="{{ path('estimate.index') }}" class="btn btn-sm btn-outline-primary w-25 mt-3"><i class="material-icons" >arrow_back</i></a>
        </div>
    </div>
    <hr>
    <div class="container-fluid my-5 d-flex justify-content-center">
        <div class="card card-1">
            <div class="card-header bg-white">
                <div class="media flex-sm-row flex-column-reverse justify-content-between ">
                    <div class="col my-auto">
                        <h4 class="mb-0">Devis n°<span class="change-color">{{ estimate.id }}</span></h4>
                    </div>
                    <div class="col-auto">
                        {% if estimate.status == false %}
                            <span class="badge badge-warning">En attente</span>
                        {% else %}
                            <span class="badge badge-success">Validé</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-between mb-3">
                    <div class="col-auto">
                        <h6 class="color-1 mb-0 change-color">{{ estimate.title }}</h6>
                    </div>
                    <div class="col-auto "> <small>Nombre de lignes : {{ estimate.estimateLines|length }}</small> </div>
                </div>
                <div class="row mb-3">
                    <div class="col-auto">
                        Date de livraison prévue :<h6 class="color-1 mb-0 change-color mt-1">{{ estimate.deadline|date('d/m/y H:i') }}</h6>
                    </div>
                    <div class="col-auto">
                        Client :<h6 class="color-1 mb-0 change-color mt-1">{{ estimate.customer.fullname }}</h6>
                    </div>
                </div>
                {% if estimate.deadline != null %}
                <div class="row mb-3">
                    <div class="col-auto">
                        Délai :<h6 class="color-1 mb-0 change-color mt-1">{{ estimate.deadline|date('d/m/y H:i') }}</h6>
                    </div>
                </div>
                {% endif %}
                {% for estimateLine in estimate.estimateLines %}
                <div class="row mt-2">
                    <div class="col">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body my-auto text-right">
                                        <div class="row my-auto flex-column flex-md-row">
                                            <div class="col-auto my-auto">
                                                <h6 class="mb-0">{{ estimateLine.piece.libelle }}</h6>
                                            </div>
                                            <div class="col my-auto"> <small>Prix d'achat : {{ estimateLine.price }} € </small></div>
                                            <div class="col-auto my-auto"> <small>Quantité : {{ estimateLine.quantity }}</small></div>
                                            <div class="col my-auto">
                                                <h6 class="mb-0">{{ estimateLine.quantity * estimateLine.price }} €</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-3 ">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row mt-4">
                    <div class="col">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <p class="mb-1 text-dark"><b>Détails de la commande : </b></p>
                            </div>
                            <div class="flex-sm-col text-right col">
                                <p class="mb-1"><b>Total :</b></p>
                            </div>
                            <div class="flex-sm-col col-auto">
                                <p class="mb-1">
                                    {{ totalPrice }} €
                                </p>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="flex-sm-col text-right col">
                                <p class="mb-1"> <b>TVA :</b></p>
                            </div>
                            <div class="flex-sm-col col-auto">
                                <p class="mb-1">+ 20 %</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row invoice mt-5">
                    <div class="col">
                        {% for estimateLine in estimate.estimateLines %}
                            <p class="mt-2">- {{ estimateLine.piece.libelle }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="jumbotron-fluid">
                    <div class="row justify-content-between ">
                        <div class="col-auto my-auto ">
                            <h2 class="mb-0 font-weight-bold">TOTAL DE LA COMMANDE</h2>
                        </div>
                        <div class="col-auto my-auto ml-auto">
                            <h1 class="display-3 ">{{ totalPrice * 1.2 }} €</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}